[submodule "submodules/evil-easymotion"]
	path = submodules/evil-easymotion
	url = https://github.com/erikvader/evil-easymotion.git
[submodule "submodules/evil-latex-textobjects"]
	path = submodules/evil-latex-textobjects
	url = https://github.com/hpdeifel/evil-latex-textobjects.git
[submodule "submodules/evil-surround"]
	path = submodules/evil-surround
	url = https://github.com/erikvader/evil-surround.git
[submodule "submodules/minizinc-mode"]
	path = submodules/minizinc-mode
	url = https://github.com/erikvader/minizinc-mode
