/elpa/
session.*
/.emacs.desktop
/recentf
/projectile.cache
/projectile-bookmarks.eld
/auto-save-list
/ac-comphist.dat
/.mc-lists.el
/TAGS
/transient/history.el
/*.old
/backups
/auto_saves
/tramp
/bookmarks
/.lsp-session*
/games
/.cache
/init.d.local
/.dap-breakpoints
/eln-cache/
/projects
/dirvish/
/request/
/ielm-history.eld

# eclipse lsp
/workspace
/eclipse.jdt.ls

/eshell/*
!/eshell/alias
